version: '3'
services:

  #PHP Service
  click:
    #image: fishnet/click
    build:
      context: .
      dockerfile: Dockerfile
    container_name: click-php
    restart: unless-stopped
    tty: true
    working_dir: /var/www
    env_file:
      - ./.env
    volumes:
      - .:/var/www
      - ./config/php.ini:/usr/local/etc/php/conf.d/settings.ini
      - ./config/php.conf:/usr/local/etc/php-fpm.d/zz-php.conf
      - node_modules:/var/www/node_modules
    networks:
      - app-network
    depends_on:
      - db

  webserver:
    image: nginx:alpine
    restart: unless-stopped
    ports: 
      - "80:80"
    volumes:
      - .:/var/www
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - db
      - click 

  # MySQL Service
  db:
    image: mariadb
    container_name: click-mysql
    restart: unless-stopped
    command: --sql_mode=""
    environment:
      MYSQL_ROOT_PASSWORD: $DB_PASSWORD
      MYSQL_DATABASE: $DB_DATABASE 
      MYSQL_USER: $DB_USERNAME 
      MYSQL_PASSWORD: $DB_PASSWORD
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/setup.sql
      - dbdata:/var/lib/mysql
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge

#Volumes
volumes:
    dbdata:
      driver: local
    node_modules:
      driver: local
